<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/styles/main.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
        <script src="https://kit.fontawesome.com/d5c465f7b6.js" crossorigin="anonymous"></script>
        <!-- <link rel="preconnect" href="https://fonts.googleapis.com%22%3E/
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin> -->
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    </head>
<body>   
    <header class="fixed-header">   
        <div class="logo-container">
            <img class= "logo" src="/img/logo-mercado-liebre.svg" alt="">
            <form class="search-bar">
            <input class="barra-busqueda" type="text" placeholder="Buscar productos, marcas y más">
            <button class="lupa"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
        <div class="nav-title"><i class="fa-solid fa-hand-holding-dollar"></i><p>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
    <nav  class="nav-bar">
            <ul class="left-nav-bar" style="list-style-type: style none;">
                <li><a href="#"> Ofertas </a></li>
                <li><a href="#"> Tiendas Oficiales</a></li>
                <li><a href="#"> Vender </a></li>
                <li><a href="https://www.mercadolibre.com.ar/"> Ayuda </a></li>
            </ul>
            <!-- <h5 class="false-responsive-text">Comprá en cuotas y sin tarjeta de crédito</h5> -->
            <ul class="right-nav-bar">
                <li><a href="/register"> Crea tu Cuenta</a></li>
                <li><a href="/login"> Ingresa </a></li>
                <li><a href="#"> Mis Compras </a></li>
            </ul>
    </nav> 
    <div class="burger-menu"><i class="fas fa-bars"></i></div>
</header>
<div class="banner-container">
    <img src="/img/img-home-banner.jpg" alt="">
</div>
    <main>
        <div class="caja-container-secciones"></div>
    <div class="titulo-seccion2">
        <h3 class="cabecera-seccion2"><strong>Basado en tu última visita</strong></h3>
    </div>
<div class="first-section">
    <section class="principal">
        <div class="card">
            <article class="article">
                <div class="card-content">
                    <img src="/img/img-cafetera-moulinex.jpg" alt="" class="producto">
                <div class="truck-icon"><i class="fa-solid fa-truck fa-bounce"></i></div>
                    <div class="product-description">
                        <p class="precio"><strong>$6.770</strong></p>
                        <p class="descuento">-40% OFF</p>
                    </div>
                        <h4 class="image-description" >Cafetera Moulinex</h4>
                </div>
            </article>
        </div>
        
        <div class="card">
            <article class="article">
                <div class="card-content">
                    <img src="/img/img-macbook-pro-2019.jpg" alt="" class="producto">
                    <div class="truck-icon"><i class="fa-solid fa-truck fa-bounce"></i></div>
                    <div class="product-description">
                    <p class="precio"><strong>$230.000</strong></p>
                    <p class="descuento">-20% OFF</p>
                </div>
                    <h4 class="image-description">MacBook Pro 2019</h4>
                </div>
            </article>
        </div>

        <div class="card">
            <article class="article">
                <div class="card-content">
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="" class="producto">
                    <div class="truck-icon"><i class="fa-solid fa-truck fa-bounce"></i></div>
                    <div class="product-description">
                    <p class="precio"><strong>$70.500</strong></p>
                    <p class="descuento">-10% OFF</p>
                </div>
                    <h4 class="image-description">Samsung Galaxy S10</h4>
                </div>
            </article>
        </div>

    <div class="card">
        <article class="article">
            <div class="card-content">
                <img src="/img/img-tv-samsung-smart.jpg" alt="" class="producto">
                <div class="truck-icon"><i class="fa-solid fa-truck fa-bounce"></i></div>
                <div class="product-description">
                <p class="precio"><strong> $23.200 </strong></p>           
                <p class="descuento">-5% OFF </p>
            </div>
                <h4 class="image-description"> SmartTv Samsung 43" </h4>
            </div>
        </article>
    </div>
</div>
</section>

<div class="titulo-seccion2">
    <h3 class="cabecera-seccion2"><strong> OFERTAS/DESCUENTOS EN PRODUCTOS </strong></h3>
</div>

<section class="second-section">
    <div class="card">
        <article class="article">
            <div class="card-content">
                <img src="/img/img-cafetera-moulinex.jpg" alt="" class="producto">
                <div class="truck-icon"><i class="fa-solid fa-truck fa-bounce"></i></div>
              <div class="product-description">
                <p class="precio"><strong>$6.770</strong></p>
                <p class="descuento">-40% OFF</p>
            </div>
                <h4 class="image-description">Cafetera Moulinex</h4>
            </div>
        </article>
    </div>
    
    <div class="card">
        <article class="article">
            <div class="card-content">
                <img src="/img/img-macbook-pro-2019.jpg" alt="" class="producto">
                <div class="truck-icon"><i class="fa-solid fa-truck fa-bounce"></i></div>
                <div class="product-description">
                <p class="precio"><strong>$230.000</strong></p>
                <p class="descuento">-20% OFF</p>
            </div>
                <h4 class="image-description">MacBook Pro 2019</h4>
            </div>
        </article>
    </div>

    <div class="card">
        <article class="article">
            <div class="card-content">
                <img src="/img/img-samsung-galaxy-s10.jpg" alt="" class="producto">
                <div class="truck-icon"><i class="fa-solid fa-truck fa-bounce"></i></div>
                <div class="product-description">
                <p class="precio"><strong>$70.500</strong></p>
                <p class="descuento">-10% OFF</p>
            </div>
                <h4 class="image-description">Samsung Galaxy S10</h4>
            </div>
        </article>
    </div>

    <div class="card">
        <article class="article">
            <div class="card-content">
                <img src="/img/img-tv-samsung-smart.jpg" alt="" class="producto">
                <div class="truck-icon"><i class="fa-solid fa-truck fa-bounce"></i></div>
                <div class="product-description">
                <p class="precio"><strong> $23.200 </strong></p>           
                <p class="descuento"> -5% OFF </p>
            </div class="product-name">
                <h4 class="image-description"> SmartTv Samsung 43" </h4>
            </div>
        </article>
    </div>
</div>
</section>
</main>

<footer class="footer">
    <div class="footer-content">
        <div class="footer-icon"><i class="fa-brands fa-cc-mastercard"></i></div>
        <div>
            <p> Pagá con tarjeta o en efectivo
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </div>
    </div>

    <div class="footer-content">
        <div class="footer-icon"><i class="fa-solid fa-boxes-packing"></i></div>
        <div>
            <p> Envío gratis desde $ 2.500
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </div>
    </div>

    <div class="footer-content">
        <div class="footer-icon"><i class="fa-solid fa-user-shield"></i>|</div>
        <div>
            <p> Seguridad, de principio a fin
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </div>
    </div>
</footer>
<p class="copyright-footer"><!-- Copyright © --> &copy; 1999-2020 MercadoLiebre S.R.L.</p>
</body>
</html>