*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.main-login {
    display: flex;

}

.formulario-login {
    display: flex;
    flex-direction: column;
    /* flex properties */

    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: 25px;
    background-color: #bebebe;

}

.login-titulo {
    display: flex;
    justify-content: center;
    margin: 1rem;
    color: #1259c3;
}

.usuario-registrado {
    display: flex;
    margin: 1rem;
}

.contraseña-input {
    display: flex;
    justify-content: flex-end;
    margin: 1rem;

}
.login-submit-button {
    display: flex;
    justify-content: center;
    align-self: center;

    width: 25%;
    margin: 1rem;

}

.login-label {
    margin: 5px;

}